# 05 Analysis of Variance

## 01 One-way analysis of variance

### 1. Data Structure

|그룹|1|…|i|…|k|
|:-:|:-:|:-:|:-:|:-:|:-:|
|1|<img src="https://latex.codecogs.com/svg.image?&space;x_{11}">||<img src="https://latex.codecogs.com/svg.image?&space;x_{i1}">||<img src="https://latex.codecogs.com/svg.image?&space;x_{k1}">|
|…||||||
|j|<img src="https://latex.codecogs.com/svg.image?&space;x_{1j}">||<img src="https://latex.codecogs.com/svg.image?&space;x_{ij}">||<img src="https://latex.codecogs.com/svg.image?&space;x_{kj}">|
|…||||||
|n|<img src="https://latex.codecogs.com/svg.image?&space;x_{1n}">||<img src="https://latex.codecogs.com/svg.image?&space;x_{in}">||<img src="https://latex.codecogs.com/svg.image?&space;x_{kn}">|
|평균|<img src="https://latex.codecogs.com/svg.image?&space;\bar x_{1}">||<img src="https://latex.codecogs.com/svg.image?&space;\bar x_{i}">||<img src="https://latex.codecogs.com/svg.image?&space;\bar x_{k}">|

- Let <img src="https://latex.codecogs.com/svg.image?&space;x_{ij}"> denote observation no.j in group i
  - so that <img src="https://latex.codecogs.com/svg.image?&space;\bar x_{35}"> is the fifth observation in group 3
  - <img src="https://latex.codecogs.com/svg.image?&space;\bar x_{i}"> is the mean for group i and <img src="https://latex.codecogs.com/svg.image?&space;\bar x"> is the grand mean(average of all observations).

- Decompose <img src="https://latex.codecogs.com/svg.image?x_{ij}-\bar{x}=(x_{ij}-\bar{x_i})&plus;(\bar{x_i}-\bar{x})">
- Model <img src="https://latex.codecogs.com/svg.image?X_{ij}=\mu&plus;\alpha_i&plus;\epsilon_{ij},\;\;\;\epsilon_{ij}\sim&space;N(0,\sigma^2)">

### 2. Decomposition of Variation

Now consider the sums of squares of the underbraced terms, known as *variation within groups*

<center>
<img src="https://latex.codecogs.com/svg.image?SSD_W=\sum_{i}\sum_{j}(x_{ij}-\bar{x_i})^2">
</center>

and *variation between groups*

<center>
<img src="https://latex.codecogs.com/svg.image?SSD_B=\sum_{i}\sum_{j}(x_{i}-\bar{x})^2=\sum_{i}n_i(x_{i}-\bar{x})^2">
</center>

It is possible to prove that

<center>
<img src="https://latex.codecogs.com/svg.image?SSD_B&plus;SSD_W=SSD_{total}=\sum_{i}\sum_{j}(x_{ij}-\bar{x})^2">
</center>

### 3. ANOVA table and test

- 분산분석표(Analysis of Variance Table)

|요인|제곱합|자유도|평균제곱|F값|
|:-:|:-:|:-:|:-:|:-:|
|그룹간|<img src="https://latex.codecogs.com/svg.image?SSD_B">|k-1|<img src="https://latex.codecogs.com/svg.image?MS_B">|<img src="https://latex.codecogs.com/svg.image?MS_B/MS_W">|
|그룹내|<img src="https://latex.codecogs.com/svg.image?SSD_W">|N-K|<img src="https://latex.codecogs.com/svg.image?MS_W">||
|합|<img src="https://latex.codecogs.com/svg.image?SSD_{total}">|N-1|||

- 검정 <img src="https://latex.codecogs.com/svg.image?&space;H_0:\alpha_1=\alpha_2=\cdots=\alpha_k\;\;vs\;\;H_1:\;not\;H_0">
- 검정통계량 <img src="https://latex.codecogs.com/svg.image?F_0=MS_B/MS_W\sim&space;F_{k-1,N-k}">

In [5]:
library(ISwR)
head(red.cell.folate,2)
attach(red.cell.folate)
summary(red.cell.folate)
anova(lm(folate~ventilation))

  folate ventilation
1 243    N2O+O2,24h
2 251    N2O+O2,24h

The following objects are masked from red.cell.folate (pos = 3):

    folate, ventilation

     folate          ventilation
 Min.   :206.0   N2O+O2,24h:8
 1st Qu.:249.5   N2O+O2,op :9
 Median :274.0   O2,24h    :5
 Mean   :283.2
 3rd Qu.:305.5
 Max.   :392.0

            Df Sum Sq   Mean Sq  F value  Pr(>F)
ventilation  2 15515.77 7757.883 3.711336 0.04358933
Residuals   19 39716.10 2090.321       NA         NA

In [8]:
# (Recall) the data set "juul"
juul[c(6,350,450),]
anova(lm(igf1~tanner, data=juul))

    age   menarche sex igf1 tanner testvol
6    0.17 NA       1   101  1      NA
350 13.20 NA       1    NA  2       8
450 16.09 NA       1   412  5      18

          Df  Sum Sq   Mean Sq     F value  Pr(>F)
tanner      1 10985605 10985604.60 686.0723 2.420587e-109
Residuals 790 12649728    16012.31       NA            NA

- Wrong!!! Since tanner is not a factor variable.
- This does not describe a group of data but a linear regression on the group number.  
Notive "1 DF" for the effect of tanner in the table.

In [11]:
# (Recall) the data set "juul": fix
juul$tanner <- factor(juul$tanner, labels=c("I", "II", "III", "IV", "V"))
summary(juul$tanner)
anova(lm(igf1~tanner, data=juul))

   I   II  III   IV    V NA's
 515  103   72   81  328  240

          Df  Sum Sq   Mean Sq    F value  Pr(>F)
tanner      4 12696217 3174054.15 228.3531 4.678213e-130
Residuals 787 10939116   13899.77       NA            NA